.traffic-lighter {
  width: 80px;
  border: 1px solid grey;
  &__light {
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;

    &_red {
      &.active {
        background-color: red;
      }
    }
    &_yellow {
      &.active {
        background-color: yellow;
      }
    }
    &_green {
      &.active {
        background-color: green;
      }
    }
  }
}