.lighterBox{
  width: 80px;
  border: 1px solid grey;
  &__light{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
  }
  &__light_red.active{
    background: red;
  }
  &__light_yellow.active{
    background: yellow;
  }
  &__light_green.active{
    background: green;
  }
}